@BASE_URL=http://localhost:8000
@Token = ""

GET {{BASE_URL}}/health

###
# @name GetMovies
GET {{BASE_URL}}/movies?page=1&limit=10&search=drama
Authorization: Bearer {{Token}}


###
POST {{BASE_URL}}/admin/movies
Content-Type: application/json
Authorization: Bearer {{Token}}

{
    "title": "The",
    "description": "The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.",
    "duration": 175,
    "watch_url": "URL_ADDRESS.youtube.com/watch?3zA",
    "genres": [
        "Crime",
        "Drama"
    ],
    "artists": [
        "Marlon Brando",
        "Al Pacino"
    ]
}

###
PUT {{BASE_URL}}/admin/movies/f23e3a1b-0d47-44c3-9f8f-341f74289b7f
Content-Type: application/json

{
    "title": "The Update Movies",
    "description": "The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.",
    "duration": 175,
    "watch_url": "URL_ADDRESS.youtube.com/watch?3zA",
    "genres": [
        "Crime",
        "Drama"
    ],
    "artists": [
        "Marlon Brando",
        "Al Pacino"
    ]
}

###
# @name VoteMovieApi
POST {{BASE_URL}}/movies/0f14a2db-fdde-4662-b763-41b7218826dd/vote
Authorization: Bearer {{Token}}

###
# @name WatchMovieApi
POST {{BASE_URL}}/movies/0f14a2db-fdde-4662-b763-41b7218826dd/watch
Authorization: Bearer {{Token}}

### Get Most View Movies
GET {{BASE_URL}}/admin/movies/most-viewed?page=1&limit=10
Authorization: Bearer {{Token}}

### Get Most View Genres
GET {{BASE_URL}}/admin/movies/most-viewed/genres?page=1&limit=10

### POST Auth Register
POST {{BASE_URL}}/auth/register
Content-Type: application/json

{
    "email": "user@example.com",
    "username": "user",
    "password": "user@123"
}
###
# @name loginApi
POST {{BASE_URL}}/auth/login
Content-Type: application/json

{
    "email": "user@example.com",
    "password": "user@123"
}
@Token = {{loginApi.response.body.token}}